.link-contacto {
  padding: 10px;
  font-weight: bold;
  background-color: #ff009a;
  color: white; }

.link-facebook {
  padding: 10px;
  font-weight: bold;
  background-color: #ff009a;
  color: #010177; }

.link-instagram {
  padding: 10px;
  font-weight: bold;
  background-color: #ff009a;
  color: #a70606; }

* {
  margin: 0;
  padding: 0; }

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #FFc107;
  --secundario: #0097A7;
  --gris: #FEF8F7;
  --griss: #757575; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 16px;
  background-color: var(--gris); }

h2 {
  text-align: center;
  color: var(--oscuro);
  font-size: 2rem; }

@media (max-width: 800px) {
  .nosotros__video {
    display: none; }
  footer {
    height: 240px; } }

@media (max-width: 768px) {
  .servicios {
    background-color: #ff009a;
    display: grid;
    grid-template-areas: "impresiondigital serigrafia" "offset troquelado" "router termoformado";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center; }
  .mapa {
    margin-left: 150px; } }

@media (max-width: 600px) {
  .servicios {
    background-color: #ff009a;
    display: grid;
    grid-template-areas: "impresiondigital serigrafia" "offset troquelado" "router termoformado";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center; }
  footer {
    height: 240px; } }

@media (max-width: 480px) {
  .servicios {
    background-color: #ff009a;
    display: grid;
    grid-template-areas: "impresiondigital" "serigrafia" "offset" "troquelado" "router" "termoformado";
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center; }
  .mapa {
    margin-left: -20px; }
  footer {
    height: 240px; } }

@media (max-width: 375px) {
  .servicios {
    background-color: #ff009a;
    display: grid;
    grid-template-areas: "impresiondigital" "serigrafia" "offset" "troquelado" "router" "termoformado";
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center; }
  .mapa {
    margin-left: -40px; }
  .info {
    margin-left: -20px; }
  footer {
    height: 240px; }
  .texto__nosotros {
    margin-left: -20px; } }

@media (max-width: 320px) {
  footer {
    height: 240px; }
  .nosotros {
    margin-left: -40px; } }

.nosotros {
  display: flex;
  background-color: var(--gris);
  padding: 100px; }
  .nosotros__titulo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 200%; }
  .nosotros__parrafo {
    display: block;
    padding: 20px;
    font-weight: bold;
    color: var(--oscuro); }
  .nosotros__video {
    border-radius: 10px;
    transition: background-color 0.8s; }
    .nosotros__video:hover {
      transform: rotate(5deg); }

.servicios {
  background-color: #ff009a;
  display: grid;
  grid-template-areas: "impresiondigital serigrafia offset" "troquelado router termoformado";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center; }
  .servicios__1 {
    grid-area: impresiondigital; }
  .servicios__2 {
    grid-area: serigrafia; }
  .servicios__3 {
    grid-area: offset; }
  .servicios__4 {
    grid-area: troquelado; }
  .servicios__5 {
    grid-area: router; }
  .servicios__6 {
    grid-area: termoformado; }
  .servicios__icon1 {
    display: flex;
    justify-content: center; }
  .servicios__texto {
    width: auto;
    font-size: 1.5rem; }

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 200%;
  color: var(--blanco);
  text-align: center; }

p {
  text-align: center;
  color: var(--blanco);
  font-weight: bold; }

.color, .btn-enviar, .btn-borrar {
  font-size: 10px;
  font-weight: bold;
  color: var(--blanco);
  background-color: #ff009a; }

.sombra {
  border-radius: 10px;
  border: 3px solid white; }

.sombra:hover {
  transition: background-color 0.8s;
  transform: rotate(5deg);
  transform: scale(2);
  margin-left: 20px; }

.zoom {
  text-decoration: none;
  list-style: none; }

.espacio {
  padding: 50px; }

.portafolio__imagenes {
  width: 100%; }
  .portafolio__imagenes-card1 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #f8bbd0;
    background-color: #ad1457;
    padding: 10px; }
  .portafolio__imagenes-card2 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #f48fb1;
    background-color: #c2185b;
    padding: 10px; }
  .portafolio__imagenes-card3 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #f06292;
    background-color: #d81b60;
    padding: 10px; }
  .portafolio__imagenes-card4 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #ec407a;
    background-color: #e91e63;
    padding: 10px; }
  .portafolio__imagenes-card5 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #e91e63;
    background-color: #ec407a;
    padding: 10px; }
  .portafolio__imagenes-card6 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #d81b60;
    background-color: #f06292;
    padding: 10px; }
  .portafolio__imagenes-card7 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #c2185b;
    background-color: #f48fb1;
    padding: 10px; }
  .portafolio__imagenes-card8 {
    display: flex;
    border-radius: 10px;
    border: 4px solid #ad1457;
    background-color: #f8bbd0;
    padding: 10px; }

.sombra2 {
  -webkit-box-shadow: 10px 9px 7px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 9px 7px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 9px 7px -3px rgba(0, 0, 0, 0.75); }

footer {
  width: 100%;
  height: 200px;
  background-color: #ff009a; }

.btn-enviar:hover {
  background-color: #D4FF00;
  opacity: 0.8; }

.btn-borrar:hover {
  background-color: #D4FF00;
  opacity: 0.8; }
