*{
    margin: 0;
    padding: 0;
}
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFc107;
    --secundario: #0097A7;
    --gris: #FEF8F7;
    --fucsia:#ff009a;
    --griss: #757575;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    background-color: var(--gris);
  
    
}
h2 {
    text-align: center;
    color: var(--oscuro);
    font-size: 2rem;
}



    /* NOSOTROS */
.nosotros {
    display: flex;
    background-color: var(--gris);
    padding: 100px;
    
}
.titulo__nosotros {
font-family: 'Montserrat', sans-serif;
font-weight: bold;
font-size: 200%;
}

.parrafo__nosotros {
    display: block;
    padding: 20px;
    font-weight: bold;
    color: var(--oscuro);
}
.video__nosotros {
    
    border-radius: 10px;
    transition: background-color 0.8s;
}
.video__nosotros:hover {
    transform: rotate(5deg);
}

/* SERVICIOS */
.servicios {
    background-color: var(--fucsia);
    display: grid;
    grid-template-areas:
    "impresiondigital serigrafia offset"
    "troquelado router termoformado"
    ;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}
.servicio__1 {
    grid-area: impresiondigital;
}
.servicio__2 {
    grid-area: serigrafia;
}
.servicio__3 {
    grid-area: offset;
}
.servicio__4 {
    grid-area: troquelado;
}
.servicio__5 {
    grid-area: router;
}
.servicio__6 {
    grid-area: termoformado;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 200%;
    color: var(--blanco);
   text-align: center;
}
p{
    display: flex;
    justify-content: center;
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    
}
.icon1 {
    display: flex;
    justify-content: center;
}
.texto__servicio1 {
    width: auto;
    font-size: 1.5rem;
    
}

      /* PORTAFOLIO*/


.color {
    font-size: 10px;
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--fucsia);
}
.sombra {
    border-radius: 10px;
    border: 3px solid white;
}
.sombra:hover {
    transition: background-color 0.8s;
    transform: rotate(5deg);
}
.zoom {
    text-decoration: none;
    list-style: none;
}
.zoom li:active {
transform: scale(1.3);
margin-left: 20px;
}
    /* UBICACION y*/



.sombra2 {
    -webkit-box-shadow: 10px 9px 7px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 7px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 7px -3px rgba(0,0,0,0.75);
}

footer {
    width: 100%;
    height: 200px;
    background-color: var(--fucsia);
}
/**OTRAS PAGINAS**/




        /* MEDIA */
/** DESKTOP **/
@media (max-width: 1040px){
   
}
/** IPAD PRO **/
@media (max-width: 1024px){
  
}
@media (max-width: 800px){
    
     
    .video__nosotros {
        display: none;
    }
    footer {
        height: 240px;
    }   
}   

@media (max-width: 768px){
    .servicios {
        background-color: var(--fucsia);
        display: grid;
        grid-template-areas: 
        "impresiondigital serigrafia"
        "offset troquelado"
        "router termoformado";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;    
        }
 .mapa {
    margin-left: 150px;
 }
}
@media (max-width: 600px){
    .servicios {
        background-color: var(--fucsia);
        display: grid;
        grid-template-areas: 
        "impresiondigital serigrafia"
        "offset troquelado"
        "router termoformado";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    footer {
        height: 240px;
    }
}
@media (max-width: 480px){
    .servicios {
        background-color: var(--fucsia);
        display: grid;
        grid-template-areas: 
        "impresiondigital"
        "serigrafia"
        "offset"
        "troquelado"
        "router"
        "termoformado";
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        }
        .mapa {
            margin-left: -20px;
        }
        footer {
            height: 240px;
        }
}
@media (max-width: 375px){
    .servicios {
    background-color: var(--fucsia);
    display: grid;
    grid-template-areas: 
    "impresiondigital"
    "serigrafia"
    "offset"
    "troquelado"
    "router"
    "termoformado";
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    }
    .mapa {
        margin-left: -40px;
    }
    .info {
        margin-left: -20px;
    }
    footer {
        height: 240px;
    }
    .texto__nosotros {
        margin-left: -20px;
    }
}

@media (max-width: 320px){
    
    footer {
        height: 240px;
    }
    .nosotros {
        margin-left: -40px;
}
}